<!-- Card Code Demo -->
<div id="card-iT3KpL1gOC" class="card card-default card-outline " can="">
    <div class="card-header ">
        <h3 class="card-title">DETAIL</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"
                title="Collapse">
                <i class="bi bi-dash-lg"></i>
                <i class="bi bi-plus-lg"></i>
            </button>

        </div>
    </div>
    <div class="card-body ">                

    </div>
</div>